@media (min-width: 775px) {
    .burger-menu {
		display: none;
	}
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    top: 10vh;
    right: 0;
}

.menu-content ul li a {
    display: block;
    padding: 25px;
    color: black;
}

.menu-icon img {
    min-height: 4vh;
    cursor: pointer;
}
