h3 {
  font-family: "libre-bodoni", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}

.cardphotographer:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.cardphotographer {
  position: relative;
  margin-top: 25px;
  transition: transform 0.3s ease;
}

.cardphotographer a {
  color: #dedede;
  font-size: 12px;
}

.cardphotographer h3 a {
  font-family: "libre-bodoni", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.cardphotographer img {
  width: 100%;
  outline: 1px solid white;
  outline-offset: -8px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.overlay a,
.overlay h3 {
  margin: 5px;
}

.trendingphotographer {
  padding-bottom: 260px;
}

.trending-link a {
  display: block; /* Pour ajouter un retour à la ligne entre chaque lien */
  text-align: right; /* Pour aligner les liens à droite */
}

@media (max-width: 768px) {
  .trendingphotographer {
    padding-bottom: 125px;
  }
}
