footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.socialmedia {
  text-align: right;
  padding-top: 20px;
}

.socialmedia p {
  font-size: 16px;
  margin-top: 7px;
}

footer img {
  min-height: 7vh;
}

.socialmedia a {
  margin-left: 22px;
  text-decoration: none;
}

.logo {
  padding-bottom: 20px;
  border-bottom: 0.5px solid #fff;
}

@media (max-width: 768px) {
  footer {
    padding: 10px;
  }
  .socialmedia p {
    font-size: 14px;
  }
  footer img {
    min-height: 5vh;
  }
  .socialmedia a {
    margin-left: 0px;
  }
  .logo {
    padding-bottom: 20px;
  }
}
