.headerhomepage {
  background-color: black;
  color: white;
  padding: 20px 50px;
  text-align: right;
  margin-bottom: 160px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.menu nav li {
  display: inline-block;
  margin-right: 10vh;
}

.menu nav li:last-child {
  margin-right: 0;
}

.logofocus h1 a {
  font-family: "RightGothic", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 60px;
  text-align: left;
  font-style: normal;
  margin: 0px;
  height: 100%;
}

@media (max-width: 1200px) {
  .headerhomepage {
    margin-bottom: 110px;
  }
  .logofocus h1 a {
    font-size: 40px;
  }
}

@media (max-width: 774px) {
  .menu {
    display: none;
  }
  .headerhomepage {
    padding: 40px 0px 30px;
    margin-bottom: 70px;
  }
}
