.presentationphotographer img {
  margin-bottom: 50px;
}

.presentationphotographer a {
  margin-right: 25px;
}

.presentationphotographer p {
  padding-bottom: 3vh;
}

.presentationphotographer {
  padding-bottom: 160px;
}
